# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [2]:
set1=set()
for i in range(1,11):
    set1.add(i)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [3]:
set1.add(11)
print(set1)
set1.remove(1)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [5]:
set1={1,2,3,4,5}
set2={2,4,6,8,10}
print(f"the union of set 1 and 2 is {set1.union(set2)}")
print(f"the intersection of set 1 and 2 is {set1.intersection(set2)}")
print(f"the diffrence between set1 and set2 is {set1.difference(set2)}")
print(f"the symmertric difference between set 1 and set 2 is {set1.symmetric_difference(set2)}")

the union of set 1 and 2 is {1, 2, 3, 4, 5, 6, 8, 10}
the intersection of set 1 and 2 is {2, 4}
the diffrence between set1 and set2 is {1, 3, 5}
the symmertric difference between set 1 and set 2 is {1, 3, 5, 6, 8, 10}

In [11]:
set1={1,2,3,4,5,6,7,8,9,10}
set2={square**2 for square in set1}
print(set2)
set2=list(set2)
set2.sort()
print(set2)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
set1={1,2,3,4,5,6,7,8,9,10}
set2={item for item in set1 if item%2==0}
print(set2)

{2, 4, 6, 8, 10}

In [17]:
set1=[1,2,1,4,6,8,9,2,1,3,5,7,9,0,3,6]
print(set1)
set1=set(set1)
print(set1)

[1, 2, 1, 4, 6, 8, 9, 2, 1, 3, 5, 7, 9, 0, 3, 6]
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [18]:
set1={1,2,3,4,5}
set2={2,4,5}
print(f"is set 2 a subset of set 1 ? = {set2.issubset(set1)} ")
print(f"is set 1 a superset of set 2 ? = {set1.issuperset(set2)} ")

is set 2 a subset of set 1 ? = True
is set 1 a superset of set 2 ? = True

In [20]:
set1=frozenset(set1)
set1={1,2,3,4,5}
print(set1)

{1, 2, 3, 4, 5}

In [30]:
set1={1,2,3,4,5}
set1=set(set1)
print(set1)
set1=list(set1)
print(set1)
set1.append(6)
print(set1)
set1=set(set1)
print(set1)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
{1, 2, 3, 4, 5, 6}

In [33]:
set1={'puru','chinu','kasi','jamal','khanna'}
a,b,c,d,e=(set1)
dic={a:1,b:2,c:3,d:4,e:5}
print(dic)

{'puru': 1, 'kasi': 2, 'khanna': 3, 'jamal': 4, 'chinu': 5}

In [35]:
set1={1,2,3,4,5,6,7,8,9,10}
{print(item,end=" ") for item in set1}

1 2 3 4 5 6 7 8 9 10

{None}

In [ ]:
set1={1,2,3,4,5,6,7,8,9,10}
while set1!=set():
    print(set1)
    set1.pop()
print("set is empty now")

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{2, 3, 4, 5, 6, 7, 8, 9, 10}
{3, 4, 5, 6, 7, 8, 9, 10}
{4, 5, 6, 7, 8, 9, 10}
{5, 6, 7, 8, 9, 10}
{6, 7, 8, 9, 10}
{7, 8, 9, 10}
{8, 9, 10}
{9, 10}
{10}
set is empty now

In [37]:
set1={1,2,3,4,5}
set2={4,5,6,7,8}
print(set1)
print(set2)
set1=set1.symmetric_difference(set2)
print(set1)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [38]:
set1={1,2,3,4,5,6,7,8,9,10}
print( 5 in set1)
print(15 in set1)
print(12 in set1)
print(7 in set1)

True
False
False
True

In [39]:
set1={(1,2),(3,4),(5,6)}
print(set1)

{(1, 2), (3, 4), (5, 6)}