# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [3]:
tup=()
for i in range(1,11):
    tup+=(i),
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [10]:
first=tup[0]
last=tup[-1]
middle=tup[1:-1]
print(first)
print(last)
print(middle)

1
10
(2, 3, 4, 5, 6, 7, 8, 9)

In [13]:
f3=tup[0:3]
l3=tup[-3:]
m3=tup[2:6]
print(f3)
print(l3)
print(m3)

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

In [16]:
mtirx=(
    (1,2,3),
    (4,5,6),
    (7,8,9))
for SUB_ROW in mtirx:
    for item in SUB_ROW:
        print(item,end=" ")
    print()
matrixel=mtirx[1][2]
print(matrixel)

1 2 3
4 5 6
7 8 9
6

In [17]:
t1=(1,2,3)
t2=(4,5,6)
t3=t1+t2
print(t3)

(1, 2, 3, 4, 5, 6)

In [18]:
rt=(1,2,3,4,5,1,6,7,1,8,9,1,0)
cofitem=rt.count(1)
print(f"the count of item {rt[0]} is {cofitem} and the first indext of the item is {rt.index(1)}")

the count of item 1 is 4 and the first indext of the item is 0

In [19]:
tup=1,2,3,4,5
print(tup)
a,b,c,d,e=tup
print('a = ',a)
print('b = ',b)
print('c = ',c)
print('d = ',d)
print('e = ',e)

(1, 2, 3, 4, 5)
a =  1
b =  2
c =  3
d =  4
e =  5

In [21]:
toft=((1,2),(3,4),(5,6))
for item in toft:
    for subitem in item:
        print(subitem,end=" ")
    print()
print(toft)

1 2
3 4
5 6
((1, 2), (3, 4), (5, 6))

In [23]:
tup=()
for i in range(1,6):
    tup+=(i),
print(tup)
tup=list(tup)
print(tup)
tup.append(6)
print(tup)
tup=tuple(tup)
print(tup)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

In [29]:
tup=('p','r','a','k','h','a','r')
print(tup)
syt=''.join(tup)
print(syt)

('p', 'r', 'a', 'k', 'h', 'a', 'r')
prakhar

In [31]:
dic={('a'):1,('b'):2,('c'):3}
print(dic)

{'a': 1, 'b': 2, 'c': 3}

In [32]:
rt=(1,2,3,4,5,1,6,7,1,8,9,1,0)
print(rt)
rt=set(rt)
print(rt)
rt=tuple(rt)
print(rt)

(1, 2, 3, 4, 5, 1, 6, 7, 1, 8, 9, 1, 0)
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [34]:
def op_on_tuple(tup):
    minimum=min(tup)
    maximum=max(tup)
    summation=sum(tup)
    print(f"on tuple {tup} minimum is {minimum}, maximum is {maximum} and sum is {summation}")
op_on_tuple((1,2,3,4,5))
op_on_tuple((10,20,30,40,50))

on tuple (1, 2, 3, 4, 5) minimum is 1, maximum is 5 and sum is 15
on tuple (10, 20, 30, 40, 50) minimum is 10, maximum is 50 and sum is 150